# File types to ignore
Open_AI_Custom_Chatbot/build/
Open_AI_Custom_Chatbot/dist/
tests/
Open_AI_Custom_Chatbot/*.egg-info/
Open_AI_Custom_Chatbot/chroma_vectorestore/
Open_AI_Custom_Chatbot/data/
Open_AI_Custom_Chatbot/outputs/
images/
chromedriver.exe
frontend/by_candidate_table.html
frontend/by_party_table.html
frontend/llm_response.txt
