# File types to ignore
Open_AI_Custom_Chtabot/build/
Open_AI_Custom_Chtabot/dist/
tests/
Open_AI_Custom_Chtabot/*.egg-info/
Open_AI_Custom_Chtabot/chroma_vectorestore/
Open_AI_Custom_Chtabot/data/
images/
chromedriver.exe
venv/
congress_backend/db.sqlite3